---
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import Main from '../../layouts/Main.astro'
import FormattedDate from '../../components/FormattedDate.astro'

export async function getStaticPaths() {
  const posts = await getCollection('blog')

  return posts.map((post) => ({
    params: { slug: post.slug.replace(/^[0-9]+-/, '') },
    props: post,
  }))
}

type Props = CollectionEntry<'blog'>

const post = Astro.props
const { Content, headings } = await post.render()
---

<Main title={post.data.title} description={post.data.description}>
  <div class="flex">
    <article
      class="prose prose-table:max-w-full prose-lg prose-neutral dark:prose-invert max-w-full lg:max-w-2/3 prose-p:text-justify prose-headings:mt-24 prose-p:text-base prose-p:md:text-lg prose-p:leading-relaxed prose-headings:font-normal prose-h1:text-3xl prose-h1:md:text-4xl prose-h2:text-2xl prose-h2:md:text-3xl prose-h3:text-xl prose-h3:md:text-2xl prose-h4:text-xl prose-h4:md:text-2xl prose-h5:text-xl prose-h5:md:text-2xl prose-h6:text-xl prose-h6:md:text-2xl prose-p:text-neutral-500">
      <h1 id="title" class="text-4xl! mt-0! mb-2! xl:text-5xl! font-normal!">{post.data.title}</h1>
      <div class="mb-12! mt-0! text-lg! text-neutral-500! font-normal!">
        <FormattedDate date={post.data.pubDate} />
        {
          post.data.updatedDate && (
            <>
              <span class="hidden md:inline">&bullet;</span>
              <span class="block mt-2 md:mt-0 md:inline">
                Updated on
                <FormattedDate date={post.data.updatedDate} />
              </span>
            </>
          )
        }
      </div>
      <p class="mb-12! mt-0! text-lg! text-neutral-500! font-normal!">
        {post.data.description}
      </p>
      <Content />
    </article>
    <div
      class="fixed hidden lg:block bg-neutral-50 dark:bg-neutral-950 z-10 border-l border-neutral-200 dark:border-neutral-800 right-0 top-0 w-1/3 h-screen">
      <div class="p-6 overflow-auto no-scrollbar h-full w-full">
        <h1 class="mb-6 text-2xl">Table of Contents</h1>
        <div class="flex flex-col gap-2">
          {
            headings.map((heading) => (
              <span class="block" style={{ marginLeft: `${(heading.depth - 1) * 25}px` }}>
                <a href={`#${heading.slug}`}>
                  <span class="line-clamp-1 text-neutral-500 hover:text-black dark:hover:text-white transition-colors">
                    {heading.text}
                  </span>
                </a>
              </span>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</Main>

<script is:inline>
  function onPageLoad() {
    const headers = document.querySelectorAll('article > :is(h1, h2, h3, h4, h5, h6)')

    headers.forEach(function (header) {
      if (header.id == 'title') return

      header.classList.add('scroll-mt-12', 'cursor-pointer')
      header.addEventListener('click', function () {
        window.location.hash = header.id
      })
    })
  }

  document.addEventListener('astro:page-load', onPageLoad, { once: true })
</script>
