---
import '../tailwind.css'
import favicon from '../assets/favicon.ico'
import og from '../assets/og.png?url'
import { ClientRouter } from 'astro:transitions'
import { Font } from 'astro:assets'

interface Props {
  title?: string
  description?: string
}

const ogUrl = new URL(og, Astro.site)
const { title, description } = Astro.props
const path = Astro.url.pathname
const segments = path.split('/')
const finalTitle = title
  ? `${title} • Èrik C. Forés`
  : 'Èrik C. Forés • Senior Cloud Technical Lead'
const finalDescription = description
  ? description
  : "Inspiring engineers to build the future. I'm Èrik, a senior cloud technical lead from Catalonia that builds open source software and occasionally writes about it."
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#fafafa" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#0a0a0a" />

    <meta property="og:title" content={finalTitle} />
    <meta property="og:description" content={finalDescription} />
    <meta property="og:type" content="article" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content={ogUrl} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="ErikCampobadal" />
    <meta property="twitter:title" content={finalTitle} />
    <meta property="twitter:description" content={finalDescription} />
    <meta property="twitter:image" content={ogUrl} />

    <meta name="description" content={finalDescription} />
    <link rel="icon" href={favicon} />
    <Font cssVariable="--font-primary" preload />
    <Font cssVariable="--font-secondary" preload />
    <link
      href="https://api.fontshare.com/v2/css?f[]=gambarino@400&f[]=supreme@501,400,401,300,301,500,701,700&display=swap"
      rel="stylesheet"
    />
    <title>
      {finalTitle}
    </title>
    <ClientRouter />
  </head>
  <body
    class="backface-hidden text-black bg-neutral-50 dark:bg-neutral-950 dark:text-white print:bg-white selection:bg-neutral-700/20 selection:dark:bg-neutral-300/20"
    style="backface-visibility: hidden">
    <div class="flex flex-col min-h-screen">
      <header class="container flex items-center h-32 gap-4 xl:gap-6 lg:text-lg overflow-x-auto">
        <!-- <Logo class="w-12 h-12 text-white" /> -->
        <a
          href="/"
          class="font-mono hidden lg:block text-transparent bg-gradient-to-r from-primary to-secondary bg-clip-text font-bold select-none">
          erik.cat
        </a>
        <a
          href="/"
          class={path === '/' ? 'opacity-100' : 'opacity-50 hover:opacity-100 transition-opacity'}>
          Home
        </a>
        <a
          href="/blog"
          class={segments[1] === 'blog'
            ? 'opacity-100'
            : 'opacity-50 hover:opacity-100 transition-opacity'}>
          Blog
        </a>
        <a
          class="opacity-50 hover:opacity-100 transition-opacity"
          href="https://github.com/ConsoleTVs"
          target="_blank">Github</a
        >
        <a
          class="opacity-50 hover:opacity-100 transition-opacity"
          href="https://twitter.com/ErikCampobadal"
          target="_blank">Twitter</a
        >
        <a
          class="opacity-50 hover:opacity-100 transition-opacity"
          href="https://www.linkedin.com/in/erik-c-fores/"
          target="_blank">Linkedin</a
        >
      </header>
      <main class="container flex-grow flex flex-col">
        <slot />
      </main>
      <footer
        class="container flex flex-col my-12 space-y-2 text-neutral-300 dark:text-neutral-700">
        <span>
          Copyright &copy; {new Date().getFullYear().toString()} &bullet; Èrik C. Forés. All rights reserved.
        </span>
      </footer>
    </div>
  </body>
</html>
